/* Mobile (dưới 768px) */
@media (max-width: 767px) {
  button {
    font-size: 10px;
  }

  /**
    slider
  */
  .main-slider {
    padding-top: 20%;
    height: 200px;
    object-fit: cover;

  }

  .silder-main-image {
    border-radius: 0% !important;
  }
/**cart page*/
.title-cart-item-mobile{
  font-size: 10px !important;
}
.title-cart-page{
  display: none;
}
  /**
product-main
*/
  .product-main {
    width: 180px;
  }

  .card {}

  .image-product-main {
    height: 100px;
  }

  /**
  hot deal
*/
  .hot-deal-main {
    width: 100%;
    padding: 0px;
  }

  .hot-deal-main-box {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.75rem;
  }

  .btn-action-card,
  .product-card-main-hot {
    flex-direction: column;
    display: flex;
  }

  .mobile-updated {
    padding-left: 2px;
    padding-right: 2px;
  }

  .main-product-hot {
    width: 100%;
    height: 10%;
  }

  /**
    tabs
  */
  .main-tab {
    padding: 0px;
    gap: 0.25rem;
    padding: 1rem;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  /** 
    silder
  */
  .silder-main-box {
    width: 100%;
    height: 100%;
    position: relative;

  }

  .silder-main {
    width: 100%;
    height: 100%;
  }

  .silder-main-image {
    width: 100%;
    height: auto;
  }

  /**
    banner
   */
  .main-banner {
    margin-top: 10px;
  }

  .banner-item-img {
    height: 100%;
  }

  .banner-sale-off-hot-image {
    width: 25%;
  }

  .banner-sale-off {
    bottom: -5px
  }

  .main-banner-product-left-right {
    padding: 4px;
  }

  .banner-sale-off-hot {
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    align-items: center;
  }

  /**
  product-card
  */
  .product-card {}

  .card-title {
    font-size: 100%;
  }

  /**
    news
  */
  .title-news {
    font-size: 22px;
    margin: auto;
  }

  /**            category page                      */
  /**
   sidebar
  */

  .item-picture-logo {
    width: 500px;
  }

  .main-brand-sidebar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .side-bar-mobile {
    display: inline;
  }

  .side-bar-desktop {
    display: none;
  }

  .range-price-sizebar {
    display: none;
  }

  .filter {
    display: none;
  }

  /* .item-box {
    height: 200px;
    overflow-x: auto;
  } */

  .btn-item-filter {
    white-space: nowrap;
    flex: 0 0 auto;

  }

  .filter-item-selected {
    width: 100%;
  }

  .title-main-category {
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
  }

  .filter-search {
    white-space: normal;
  }

  .title-filter-search {
    font-size: 12px;
  }

  .none-data-product {
    min-height: 100vh;
  }

  /************************product-detail************************/
  .left-product-detail-mobile {
    margin-bottom: 10px;
  }

  .mobile-sidebar-product-detail {
    display: inline;
  }

  .right-sidebar-product-detail {
    display: none;
  }

  /** footer*/
  .main-footer-info {
    display: none;
    font-size: 12px;
  }

  .fnc-mobile {
    display: inline;
  }

  /** header*/
  .title-header-item{
    display: none;
  }
  .rigister-user{
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .side-bar-desktop {
    display: none;
  }

  .reponsive-layout-category {
    grid-column: span 12 / span 12;
  }

  .side-bar-mobile {
    display: inline;
  }

}