/* Mobile (dưới 768px) */
@media (max-width: 767px) {
  .body {
    background-color: white;
  }
    .main-banner{
      margin-top: 10px;
    }
     .main-hot-deal{
      margin-top: 10px;
     }
     .main-tab{
      margin:10px;
      padding: 0px;
     }
     .banner-sale-off-hot{
       bottom: 0px;
     }
    
  }
  
  /* Tablet (768px - 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      background-color: lightgreen;
    }
  }